print("Band Name Generator!")
print("Which is the city you grew up in?")
city=input();
print("What is the name of your pet?")
pet=input();
res=''.join(sorted(city)+sorted(pet))
print("Your Band Name is" + str(res))
